@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*
font-family: 'Noto Sans KR', sans-serif;
*/
#hd_login_msg{display:none;}
::-webkit-scrollbar{height:auto;width:auto;width:8px;}
::-webkit-scrollbar-thumb{border-radius:0px;background:#2d2d2d;}
::-webkit-scrollbar-track{
	background:#555555;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
}
::-webkit-scrollbar-thumb:window-inactive{background:#888888;}

body {font-family: 'Noto Sans KR', sans-serif;background: #060D1B !important;font-size:1em;color:#e1e1e1;}
h1, h2, h3, h4, h5, h6 {font-family: 'Noto Sans KR', sans-serif;}
input, button {font-family: 'Noto Sans KR', sans-serif;}
textarea, select {font-family: 'Noto Sans KR', sans-serif;}
select{background-color:#2a3241 !important;color:#aaa;border:1px solid #2a3241;}
.required{background: url(../../img/wrest.png) top right no-repeat #2a3241 !important}
input[type="text"],input[type="url"],input[type="number"],input[type="password"],input[type="email"],textarea{background:#333 !important;color:#aaa !important;border:1px solid #2a3241 !important;}
a{color:#eee;text-decoration:none;}
input[type="number"]{text-align:left;}
a:link,a:visited{color:#fff;}
a:hover{color:#fff;}
input[type="checkbox"]{-webkit-font-smoothing: antialiased;text-rendering: optimizeSpeed;position: relative;height:15px;line-height:15px;}
input[type="checkbox"]:before{content: "";position: absolute;width:100%;height:100%;left:0;top:0;-webkit-box-shadow: inset 0 1px 1px #555555, 0 1px 0 #555555;-moz-box-shadow: inset 0 1px 1px #555555, 0 1px 0 #555555;box-shadow: inset 0 1px 1px #555555, 0 1px 0 #555555;background: #555555;}
input[type="checkbox"]:checked:before{-webkit-box-shadow: inset 0 1px 1px #1f4fa8, 0 1px 0 #1f4fa8;-moz-box-shadow: inset 0 1px 1px #1f4fa8, 0 1px 0 #1f4fa8;box-shadow: inset 0 1px 1px #1f4fa8, 0 1px 0 #1f4fa8;background:#1f4fa8;}
input[type="checkbox"]:checked:after{font-family:FontAwesome;position:absolute;content:'\f00c';color:#fff;width:100%;height:100%;}
input[type="text"],
input[type="url"],
input[type="password"]{background:#2a3241;color:#ffffff;}
.top_box{padding:20px 0;}

/*INDEX*/
.sound_only{display:none;}
.api_index_box{padding:20px;}
.tbl01_head01 table{width:100%;}
.tbl01_head01 table thead tr th{position:sticky;top:0px;z-index:100;background:#555555;padding:5px 5px;}
.tbl01_head01 table tbody tr{}
.tbl01_head01 table tbody tr.bg0{background:#37475e;}
.tbl01_head01 table tbody tr.bg1{background:#243349;}
.tbl01_head01 table tbody tr th{}
.tbl01_head01 table tbody tr th,
.tbl01_head01 table tbody tr td{padding:5px 5px;}
.tbl01_head01 table tbody tr td{}
.tbl01_head01 table tbody tr:hover{background:#34073a !important;}
.tbl01_head01 table tbody .empty_table{text-align:center;background:#333333;padding:100px 0;}

.sp_notice{color:yellow;}
.sp_error{color:red;}

.pg_wrap {clear:both;margin:0 0 20px;padding:20px 0 0;text-align:center}
.pg {display:inline-block}
.pg_page, .pg_current {color:#fff;display:inline-block;float:left;padding: 0 13px;line-height:30px;text-decoration: none;border: 1px solid #2a354b;margin-left:-1px;}
.pg a:focus, .pg a:hover {background-color:#536280}
.pg a:first-child{border-top-left-radius:5px;border-bottom-left-radius:5px;}
.pg a:last-child{border-top-right-radius:5px;border-bottom-right-radius:5px;}
.pg_page {background:#3E4B64;text-decoration:none}
.pg_start {background:#3E4B64 url(../_img/page_1.png) 50% 50% no-repeat;width:32px;text-indent:-999px;overflow:hidden}
.pg_prev {background:#3E4B64 url(../_img/page_2.png) 50% 50% no-repeat;width:32px;text-indent:-999px;overflow:hidden}
.pg_next {background:#3E4B64 url(../_img/page_3.png) 50% 50% no-repeat;width:32px;text-indent:-999px;overflow:hidden}
.pg_end {background:#3E4B64 url(../_img/page_4.png) 50% 50% no-repeat;width:32px;text-indent:-999px;overflow:hidden}
.pg_current {display:inline-block;background:#1f2738;color:#fff;font-weight:normal}

.bg_primary{background:#0d6efd;color:#eee;}
.bg_secondary{background:#6c757d;color:#eee;}
.bg_success{background:#198754;color:#eee;}
.bg_danger{background:#dc3545;color:#eee;}
.bg_warning{background:#ffc107;color:#555;}
.bg_info{background:#0dcaf0;color:#555;}
.bg_light{background:#f8f9fa;color:#555;}
.bg_dark{background:#333;color:#eee;}
.btn{border-radius:3px;padding:8px 15px;display:inline-block;}