@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*
font-family: 'Noto Sans KR', sans-serif;
*/
::-webkit-scrollbar{height:auto;width:auto;width:8px;}
::-webkit-scrollbar-thumb{border-radius:0px;background:#2d2d2d;}
::-webkit-scrollbar-track{
	background:#555555;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
}
::-webkit-scrollbar-thumb:window-inactive{background:#888888;}

html {overflow-y:scroll}
body {font-family:'Noto Sans KR',sans-serif;background: #040816;font-size:0.91em;color:#e1e1e1;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
ul{margin:0;padding:0;list-style:none}
li,dt,dd,ol{margin:0;padding:0}
ol{list-style-position:inside}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle}
input, button {margin:0;padding:0;font-family:'Noto Sans KR',sans-serif;font-size:1em}
button,input[type="submit"] {cursor:pointer}
textarea, select {font-family:'Noto Sans KR',sans-serif;font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
pre {overflow-x:scroll;font-size:1.1em}
a:link, a:visited {color:white;text-decoration:none}
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
input[type="text"], input[type="url"], input[type="number"], input[type="password"], input[type="email"], textarea {
    background: #313a48 !important;
    color: #bbb !important;
    border: 1px solid #4e596e !important;
}
input[type="checkbox"] {-webkit-font-smoothing: antialiased;text-rendering: optimizeSpeed;position: relative;height: 15px;line-height: 15px;}
input[type="checkbox"]:before {content: "";position: absolute;width: 100%;height: 100%;left: 0;top: 0;-webkit-box-shadow: inset 0 1px 1px #555555, 0 1px 0 #555555;-moz-box-shadow: inset 0 1px 1px #555555, 0 1px 0 #555555;box-shadow: inset 0 1px 1px #555555, 0 1px 0 #555555;background: #555555;}
input[type="checkbox"]:checked:after {font-family: FontAwesome;position: absolute;content: '\f00c';color: #fff;width: 100%;height: 100%;}
select {background-color: #2a3241 !important;color: #aaa;}

#wrapper {min-width: 1340px;min-height: 480px;}
#container {margin-top: 150px;width: inherit;background: #040816;padding: 0 0 0 220px;height: 100%;min-width: 1200px;}
.container_wr {position: relative;padding: 10px;}
#hd_top {position: fixed;background: #060d1b;border-bottom: solid 1px #142546;top: 0;left: 0;width: 100%;height: 50px;z-index: 1000;}
#btn_gnb {width: 50px;background: url(../svg/collapse_20_ffffff.svg) 50% 50% no-repeat #162037 !important;transform: rotate(270deg);height: 50px;border: 0;position: absolute;top: 0;left: 0;text-indent: -999px;overflow: hidden;}
#btn_gnb.btn_gnb_open{background:url(../svg/collapse_20_ffffff.svg) 50% 50% no-repeat #162037 !important;transform:rotate(90deg);}
#gnb .gnb_oparea {background: #162037;}
#btn_gnb.btn_gnb_open {
    background-color:#040816;
}
#gnb .gnb_li .btn_op {background-color:#363c5e;}
#tnb .tnb_community:hover {
    background-color: #0B1838;
}
#logo {background: #020710;width: 220px;padding: 10px 0 10px 50px;height: 100%;float: left;text-align: center;}
#tnb {float: right;padding: 10px;}
#tnb li {margin-left: 5px;float: left;position: relative;margin-left: 3px;}
#gnb {position: fixed;top: 0;left: 0;max-width: 220px;height: 100%;padding-top: 50px;z-index: 999;}
#gnb .gnb_ul {background: #040816;position: relative;height: 100%;width: 50px;}
#gnb .gnb_li {border-bottom: none;}
#tnb .tnb_community {background: url(../img/home_icon.png) no-repeat 50% 50%;width: 30px;height: 30px;overflow: hidden;text-indent: -999px;border-radius: 5px;}
#tnb a {color: #fff;padding: 0 10px;display: block;line-height: 30px;}
#tnb button {background: #0B1838;width: 100px;border: 0;border-radius: 3px;color: #fff;padding: 0 30px 0 10px;text-align: left;height: 30px;position: relative;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#tnb button span {display: block;text-indent: -999px;overflow: hidden;width: 30px;border-radius: 3px;height: 30px;position: absolute;top: 0;right: 0;background: url(../img/op_btn.png) 50% 50% no-repeat #3E4B64;}
#tnb .tnb_mb_area {background: #0B1838;display: none;width: 100px;position: absolute;padding: 5px;margin-top: 1px;}
#gnb .gnb_oparea {border-right: 1px solid #262d46;box-shadow: none;color: #bdb5b5;background: #162037;position: absolute;top: 0;left: 50px;height: 100%;width: 170px;padding: 20px;}
#gnb .gnb_oparea h3 {font-size: 0.95em;margin-bottom: 10px;line-height: 18px;}
#container_title {font-size: 1.0em;border-bottom: 1px solid #101a3a;padding: 0 20px;padding-left: 235px;position: fixed;top: 50px;left: 0;width: 100%;line-height: 50px;z-index: 99;background: #040816;}
#container.container-small #container_title{padding-left:64px;}
#container_sub_title a:after {content: ' | ';}
#container_sub_title a:last-child:after {content: '';}
.container_title_brief {display:inline-block;line-height: 30px;margin-left:30px;}
#container_sub_title {position: fixed;font-size: 0.95em;font-weight: normal;top: 100px;left: 0;width: 100%;line-height: 26px;padding: 5px 10px;padding-left: 235px;border-bottom: 1px solid #142546;border-top: 1px solid #142546;background: #000204;z-index: 99;}
.btn_fixed_top {position: fixed;top: 60px;right: 10px;z-index: 100;}
.btn {display: inline-block;height: 30px;line-height: 30px;padding: 0 10px;font-weight: normal;font-size: 0.9em;vertical-align: middle;border-radius: 5px;border:0;color:white;}
.btn_01, a.btn_01 {background: #0891D1 !important;}
.btn_02, a.btn_02 {background: #095D9D;font-size: 0.9em;}
.btn_03, a.btn_03 {background: #354667;font-size: 0.9em;}
select {margin: 0;}
#container_title a.ov_listall {font-weight: normal;border: solid 1px #4d4d4d;}
a.ov_listall {display: inline-block;line-height: 30px;height: 30px;font-size: 0.92em;vertical-align: top;padding: 0 7px;background: #1e2531;}
.btn_ov01 {display: inline-block;line-height: 30px;height: 30px;font-size: 0.92em;vertical-align: top;}
.btn_ov01 .ov_txt {background: #1e2531;border-radius: 0;font-weight: normal;float: left;color: #fff;padding: 0 5px;}
.btn_ov01 .ov_num {background: #000204;color: #fff;border-radius: 0;font-weight: normal;padding: 0 10px 0 5px;float: left;}
.sound_only {display: inline-block !important;position: absolute;top: 0;left: 0;margin: 0 !important;padding: 0 !important;width: 1px !important;height: 1px !important;font-size: 0;line-height: 0;border: 0 !important;overflow: hidden !important;}
.btn_top_menu_active {color: #f28d4f !important;}

.local_sch select {border: 1px solid #2a3241;height: 30px;margin-right: 3px;}
.local_sch01 {margin: 10px 0;}
.local_sch01 .btn_submit {border: 1px solid #222222;background-color: #111111 !important;width: 30px;height: 30px;padding: 0;background: url(../img/sch_btn.png) no-repeat 50% 50% #eee;text-indent: -999px;overflow: hidden;}
.local_sch01 .frm_input {height: 30px;padding: 0 5px;}
.local_desc01 {background: #0c162a;border: 1px solid #354667;font-size: 0.9em;padding: 10px 10px;}

.tbl_wrap {margin: 0 0 10px;padding: 0;}
.tbl_head01 table {clear: both;width: 100%;border-collapse: collapse;border-spacing: 0;}
table caption {height: 0;font-size: 0;line-height: 0;overflow: hidden;}
.tbl_head01 thead tr th {white-space: nowrap;background: #0B1838;border: 1px solid #354667;color: #fff;font-weight: normal;text-align: center;padding: 8px 5px;font-size: 0.92em;background: #000204;}
.tbl_head01 tbody td {border: 1px solid #354667;color: #bbb;padding: 5px;text-align: center;}
.td_mng a.btn {height: 25px;line-height: 25px;}
.tbl_head01 tbody .bg0 {background: #060d1b !important;}
.tbl_head01 tbody .bg1 {background: #081123 !important;}

#gnb .gnb_li button {border: 0;display: block;position: relative;width: 50px;height: 45px;text-indent: inherit;}
#gnb .gnb_li .btn_op {outline: none;}
#gnb .on .btn_op{background-color:#162037; font-size:0;}
#gnb .gnb_li .btn_op{background:url(../img/menu_default.png) 50% 24% no-repeat #040816; font-size:0;}
#gnb .on .btn_op{background:url(../img/menu_default_on.png) 50% 24% no-repeat #162037}
#gnb .gnb_li .btn_op.menu-100{background:url(../svg/cog_20_bbbbbb.svg) 50% 50% no-repeat #040816;}
#gnb .on .btn_op.menu-100{background:url(../svg/cog_20_efefef.svg) 50% 50% no-repeat #162037;}
#gnb .gnb_li .btn_op.menu-200{background:url(../svg/group_21_bbbbbb.svg) 50% 50% no-repeat #040816 }
#gnb .on .btn_op.menu-200{background:url(../svg/group_21_efefef.svg) 50% 50% no-repeat #162037}
#gnb .gnb_li .btn_op.menu-300{background:url(../svg/clipboard_20_bbbbbb.svg) 50% 50% no-repeat #040816 }
#gnb .on .btn_op.menu-300{background:url(../svg/clipboard_20_efefef.svg) 50% 50% no-repeat #162037}
#gnb .gnb_li .btn_op.menu-400{background:url(../svg/shield_20_cc5b95.svg) 50% 50% no-repeat #040816 }
#gnb .on .btn_op.menu-400{background:url(../svg/shield_20_f08abe.svg) 50% 50% no-repeat #162037}
#gnb .gnb_li .btn_op.menu-500{background:url(../img/menu-6-1.png) 50% 50% no-repeat #040816 }
#gnb .on .btn_op.menu-500{background:url(../img/menu-6.png) 50% 50% no-repeat #162037}
#gnb .gnb_li .btn_op.menu-900{background:url(../img/menu-4-1.png) 50% 50% no-repeat #040816 }
#gnb .on .btn_op.menu-900{background:url(../img/menu-4.png) 50% 50% no-repeat #162037}
#gnb .gnb_li .btn_op.menu-910{background:url(../svg/cogs_21_cc5b95.svg) 50% 50% no-repeat #040816 }
#gnb .on .btn_op.menu-910{background:url(../svg/cogs_21_f08abe.svg) 50% 50% no-repeat #162037}
#gnb .gnb_li .btn_op.menu-915{background:url(../svg/monitor_21_cc5b95.svg) 50% 50% no-repeat #040816 }
#gnb .on .btn_op.menu-915{background:url(../svg/monitor_21_f08abe.svg) 50% 50% no-repeat #162037}
#gnb .gnb_li .btn_op.menu-917{background:url(../svg/scroll_20_cc5b95.svg) 50% 50% no-repeat #040816 }
#gnb .on .btn_op.menu-917{background:url(../svg/scroll_20_f08abe.svg) 50% 50% no-repeat #162037}
#gnb .gnb_li .btn_op.menu-918{background:url(../svg/truck-outline_21_cc5b95.svg) 50% 50% no-repeat #040816 }
#gnb .on .btn_op.menu-918{background:url(../svg/truck-outline_21_f08abe.svg) 50% 50% no-repeat #162037}
#gnb .gnb_li .btn_op.menu-919{background:url(../img/menu-950-1.png) 50% 50% no-repeat #040816 }
#gnb .on .btn_op.menu-919{background:url(../img/menu-950.png) 50% 50% no-repeat #162037}
#gnb .gnb_li .btn_op.menu-920{background:url(../svg/slider_22_cc5b95.svg) 50% 50% no-repeat #040816 }
#gnb .on .btn_op.menu-920{background:url(../svg/slider_22_f08abe.svg) 50% 50% no-repeat #162037}
#gnb .gnb_li .btn_op.menu-922{background:url(../svg/basket-fill_21_cc5b95.svg) 50% 50% no-repeat #040816 }
#gnb .on .btn_op.menu-922{background:url(../svg/basket-fill_21_f08abe.svg) 50% 50% no-repeat #162037}
#gnb .gnb_li .btn_op.menu-925{background:url(../svg/factory_21_cc5b95.svg) 50% 50% no-repeat #040816 }
#gnb .on .btn_op.menu-925{background:url(../svg/factory_21_f08abe.svg) 50% 50% no-repeat #162037}
#gnb .gnb_li .btn_op.menu-930{background:url(../svg/wrench_22_cc5b95.svg) 50% 50% no-repeat #040816 }
#gnb .on .btn_op.menu-930{background:url(../svg/wrench_22_f08abe.svg) 50% 50% no-repeat #162037}
#gnb .gnb_li .btn_op.menu-935{background:url(../svg/line-chart_21_cc5b95.svg) 50% 50% no-repeat #040816 }
#gnb .on .btn_op.menu-935{background:url(../svg/line-chart_21_f08abe.svg) 50% 50% no-repeat #162037}
#gnb .gnb_li .btn_op.menu-940{background:url(../svg/feature-search-outline_21_cc5b95.svg) 50% 50% no-repeat #040816 }
#gnb .on .btn_op.menu-940{background:url(../svg/feature-search-outline_21_f08abe.svg) 50% 50% no-repeat #162037}
#gnb .gnb_li .btn_op.menu-945{background:url(../img/menu-960-1.png) 50% 50% no-repeat #040816 }
#gnb .on .btn_op.menu-945{background:url(../img/menu-960.png) 50% 50% no-repeat #162037}
#gnb .gnb_li .btn_op.menu-955{background:url(../img/menu-960-1.png) 50% 50% no-repeat #040816 }
#gnb .on .btn_op.menu-955{background:url(../img/menu-960.png) 50% 50% no-repeat #162037}
#gnb .gnb_li .btn_op.menu-960{background:url(../svg/block_20_cc5b95.svg) 50% 50% no-repeat #040816 }
#gnb .on .btn_op.menu-960{background:url(../svg/block_20_f08abe.svg) 50% 50% no-repeat #162037}
#gnb .gnb_li .btn_op.menu-965{background:url(../img/menu-960-1.png) 50% 50% no-repeat #040816 }
#gnb .on .btn_op.menu-965{background:url(../img/menu-960.png) 50% 50% no-repeat #162037}
#gnb .gnb_li .btn_op.menu-990{background:url(../img/menu-960-1.png) 50% 50% no-repeat #040816 }
#gnb .on .btn_op.menu-990{background:url(../img/menu-960.png) 50% 50% no-repeat #162037}
#gnb .gnb_oparea li a:hover, #gnb .gnb_oparea li .on {color: #ecb859 !important;}
#gnb .gnb_oparea li a {font-size: 0.95em;}
#gnb .gnb_oparea li {line-height: 25px;}

.pg_wrap {clear: both;margin: 0 0 20px;padding: 20px 0 0;text-align: center;}
.pg {display: inline-block;}
.pg_page {background: #3E4B64;}
.pg_current {background: #1f2738;color: #fff;font-weight: normal;}
.pg_page, .pg_current {display: inline-block;float: left;padding: 0 13px;line-height: 30px;border: 1px solid #2a354b;margin-left: -1px;}
.pg_next {background: #3E4B64 url(../img/page_3.png) 50% 50% no-repeat;width: 32px;text-indent: -999px;overflow: hidden;}
.pg_end {background: #3E4B64 url(../img/page_4.png) 50% 50% no-repeat;width: 32px;text-indent: -999px;overflow: hidden;}

