@charset "utf-8";

body {background-color:#1f1f20;}

.box_header {color:#9c9c9c;margin:2px 6px;}
.box_header:after {display:block;visibility:hidden;clear:both;content:'';}
.box_header .top_left {float:left;}
.box_header .top_right {float:right;}
.box_body {color:white;text-align: center;border:0px solid red;}
.box_body:after {display:block;visibility:hidden;clear:both;content:'';}
.box_body p {color:#c3c393;font-size:3.7em;font-weight:550;}
.box_footer {position:fixed;bottom:0;width:100%;color:#9c9c9c;text-align:center;padding:2px 0px 10px;border:0px solid blue;}
.box_footer:after {display:block;visibility:hidden;clear:both;content:'';}
