@charset "utf-8";
/*index 메인*/
#main{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:14px;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:630px;
    background-color:#e5e5e5;
}
#main #box{
    display:grid;
    gap:20px;
    grid-template-columns:repeat(2,1fr);
}
#main #box .menu{
    background-color:#ffffff;
    padding:20px;
    border-radius:15px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    row-gap:10px;
    box-shadow:5px 7px 15px rgba(0,0,0,0.1);
}
#main #box .menu i{font-size:2em;}
#main #box .menu:hover{}
  