@charset "utf-8";
html{background:#333;}
body{width:100%;max-width:600px;height:100%;min-height:1000px;overflow-y:auto;margin:0 auto;}
ul, dl,dt,dd {margin:0;padding:0;list-style:none}

.sound_only{display:none;}
#hd_login_msg{display:none;}

.container-fluid{position:relative;padding-left:20px;}
.container-fluid .top_bars{cursor:pointer;}
.container-fluid ul{position:absolute;top:3px;right:20px;}
.container-fluid ul:after{display:block;visibility:hidden;clear:both;content:"";}
.container-fluid ul li{float:left;padding-left:20px;}
.container-fluid ul li .top_search{}
#hd_logo{position:absolute;top:-5px;left:75px;font-size:1.7em;}

#top_btn{display:block;position:fixed;bottom:10px;left:10px;width:50px;height:50px;line-height:50px;border:1px solid #888;z-index:100;}
#top_btn i{font-size:1.4em;color:#777;}

#container{padding:20px;}




#ft{position:fixed;bottom:0;left:0;width:100%;height:50px;line-height:50px;text-align:center;background:#212529;color:#bbb;}