@charset "utf-8";

.td_prd_id{}
.td_prd_bom_part_no{width:160px;}
.td_plt_in_cnt{width:100px;}
.td_plt_in_cnt input{width:100%;text-align:right;cursor:pointer;}
.td_plt_in_cnt input.input_cnt_on{border:3px solid #000;}
.td_prd_bom_type{text-align:center !important;}
.td_prd_start_date{width:130px;text-align:center;}
.td_prd_count{text-align:right;width:100px;}
.td_prd_stock{text-align:right;width:100px;}
.td_plt_count{text-align:right;width:100px;}
.td_plt_reoutput{text-align:center;width:80px;}